body{
            font-family: Arial, Helvetica, sans-serif;
            background: #f5f5f5;
            padding: 20px;
        }
        h2, h3{
            color: #953838;
            padding: 8px;
            background-color: #d5e1ff;
        }
        h1{
            text-align: center;
            color: #ce0eab;
            border: #222;
            padding: 8px;
            background-color: #e0c88d;
        }
        input{
            padding: 6px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button{
            padding: 7px 12px;
            margin: 5px;
            background: #007bff;
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover{
            background: #0056b3;
        }
        pre{
            background: #ecdbdb;
            color: rgb(12, 12, 12);
            padding: 15px;
            border-radius: 5px;
            margin-top: 15px;
        }
        div.section{
            background: rgb(196, 167, 167);
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 0 5px rgba(28, 24, 24, 0.1);
        }